.sq-label {
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
  text-align: center;
}
.sq-form-third {
  border: 1px solid #333;
  display: flex;
  padding: 0.3rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.third {
  background-color: #baa99c;
  border-radius: 3px;
}
.sq-creditcard {
  border: 2px solid #333;
  border-radius: 0;
  background-color: #edff00;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
